body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f9ff;
    box-sizing: border-box;
    
}

.kalkulator {
    background-color: #3a4452;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;

}

.kalkulator form input {
    border: 0;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius:10px ;
    margin: 10px;
    color: #fff;
    background: transparent;
    font-size: 20px;
    cursor: pointer;
    
    box-shadow: -8px -8px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.5)
}

form .display {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

form .display input {
    text-align: center;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border: 0.1px outset white;
}

form input.equal {
    width: 145px;
    color: #33ffd8;
}

.kalkulator form input:hover {
    transition-duration: 0.5s;
    opacity: 0.7;
}



form input.operator {
    color: #33ffd8;
}